body {
  top: 0;
  margin: 0;
  font-family: 'Ropa Sans', sans-serif;
}
header {
  border: 2px dashed #4682b4;
  padding: 13px 0;
  position: relative;
}
.header_contenedor {
  width: 100%;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imagen-header {
  box-sizing: border-box;
  margin: 0;
  margin-left: 250px;
}
.item-menu-header {
  display: inline-block;
  margin-right: 25px;
  font-weight: 100px;
}
.icon-mundo {
  font-family: "Roboto";
}
.menu-wrapper {
  margin-left: 30px;
}
.buscador {
  margin-left: 30px;
  border: 1px solid #ccc;
  background: #eaeaea;
  font-family: "Roboto";
  font-size: 17px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 1px 1px #fefefe, inset 1px 1px;
  height: 20px;
  padding: 10px;
}
.mas_buscados {
  padding: 1em 0;
}
.mas_buscados__bloque {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto;
  border: 2px dashed #4682b4;
  position: relative;
}
.titulo_home {
  text-align: center;
}
.items_productos {
  display: flex;
}
.caja_producto {
  padding-right: 100px;
  padding-bottom: 2em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
